header .lang-select li {
    cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: var(--bs-primary);
}

#header-navigation {
    max-width: 1700px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    /* #header-social-desktop {
        display: none;
    } */
}
@media screen and (min-width: 768.1px) {
    header .lang-select button span:nth-child(2) {
        display: none;
    }

    /* #header-social-mobile {
        display: none;
    } */
}
.header-text {
    margin-bottom: -3px;
}

header .offcanvas-body {
    margin-bottom: -3px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .offcanvas-end {
        width: 100vw !important;
    }
}
@media screen and (max-width: 1200px) and (min-width: 905px) {
    #site-logo {
        position: relative;
        bottom: -22px;
        right: -5px;
        font-size: 1.4rem;
    }
}
