/* GLOBAL */
html,
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
}

main {
    overflow-x: hidden;
}
a {
    color: var(--bs-blue);
}

h2 {
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .hidden-on-mobile {
        display: none;
    }
}
@keyframes fade-out-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* VIDEO */
#video-container {
    position: relative;
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#video-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-info-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#video-info-container h1 {
    font-weight: 950;
}
@media screen and (min-width: 576px) {
    #video-info-container h1 {
        font-size: 50px;
        font-weight: 950;
    }
}
/* RIBBON */

#ribbon-container > div {
}

/* BANNER */
#banner-container {
    background-image: url('../images/popovo.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-text-container p {
    mix-blend-mode: lighten;
    font-size: 50px;
    font-weight: 950;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.85);
}
#banner-text-container p:first-child {
    padding-top: 90px;
}
#banner-text-container p:last-child {
    padding-bottom: 90px;
}

@media screen and (max-width: 576px) {
    #banner-text-container p {
        font-size: 45px;
    }
    #banner-text-container p:first-child {
        padding-top: 100px;
    }
    #banner-text-container p:last-child {
        padding-bottom: 100px;
    }
}

/* CARDS */

#cards-container {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)),
        url('../images/img1.webp');

    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    #cards-container {
        display: none;
    }
}

.individual-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    position: relative;
    overflow: hidden;
    height: 250px;
    cursor: pointer;
}

.card h5 {
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75));
}
.card-img-container {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
}

.card img {
    transition: transform 0.5s ease-out;
    height: 100%;
    object-fit: cover;
}
.card:hover img {
    transform: scale(1.1);
}

/* Card Buttons */

.card-button {
    cursor: pointer;
}
/* .card:hover i:first-child, */
.card.card-opened i:first-child {
    display: none;
}
.card i:nth-child(2) {
    display: none;
}
/* .card:hover i:nth-child(2), */
.card.card-opened i:nth-child(2) {
    display: inline;
}

@media screen and (max-width: 1200px) {
    .card {
        height: 200px;
    }
}
@media screen and (max-width: 992px) {
    .card {
        max-width: 400px;
        height: 225px;
    }
}
@media screen and (max-width: 576px) {
    .card {
        height: 140px;
        width: 100%;
        max-width: 400px;
    }
}

.card-content-body {
    animation-name: fade-out-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

.card-content-body.card-content-hidden {
    display: none;
}

.card.card-opened .card-body,
#cards-container-mobile .card:not(.collapsed) .card-body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
}
/* .card.card-opened h5,
#cards-container-mobile .card:not(.collapsed) h5 {
    opacity: 0.9;
} */
.card.card-opened img,
#cards-container-mobile .card:not(.collapsed) img {
    transform: scale(1.1);
}

/* CARDS MOBILE */
#cards-container-mobile .accordion-item {
    border: none;
}
@media screen and (min-width: 768.99px) {
    #cards-container-mobile {
        display: none;
    }
}

/* #cards-container-mobile .card:hover i:first-child, */
#cards-container-mobile .card:not(.collapsed) i:first-child {
    display: none;
}

/* #cards-container-mobile.card:hover i:nth-child(2), */
#cards-container-mobile .card:not(.collapsed) i:nth-child(2) {
    display: inline;
}

#cards-container-mobile .card:hover img {
    transform: scale(1);
}

/* FAQs */

/* CONTACT & MAP */

#contact-and-map-container {
    background: linear-gradient(to left, #fff 50%, #fff 50%);
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    #contact-and-map-container {
        padding-bottom: 0px !important;
        background: linear-gradient(to top, #fff 25%, #fff 25%);
    }
}

/* Contact */
#contact-container {
    z-index: 1;
}

/* Map */
.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.map-container > div {
    transform: scale(1.4);
    position: relative;
    --bs-aspect-ratio: 62%;
}
.map {
    transition: all 0.5s ease;
}
.map-whole {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)),
        url('../images/bg-border.png');

    background-position: center;
    background-size: cover;
}
.map-part1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('../images/sofia-border.png');

    background-position: center;
    background-size: cover;
    opacity: 0;
}
.map-part2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('../images/kurdzhali-border.png');

    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: translateY(-2px);
}

.map-part1.highlighted,
.map-part2.highlighted {
    opacity: 0.75;
}

.map-part1.clicked,
.map-part2.clicked {
    opacity: 1;
}

/* Map Pins */
.map-pin {
    position: absolute;
    position: absolute;
    /* background-color: red; */
    width: 15%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.map-pin1 {
    top: 43%;
    left: 27%;
}

.map-pin2 {
    top: 61%;
    left: 43%;
}

.map-pin.fill i {
    opacity: 0;
    transition: all 0.4s ease;
}
.map-pin.fill:hover i,
.map-pin.highlighted i,
.map-pin.clicked i {
    opacity: 1;
}

.map-pin:hover .map {
    opacity: 1;
}

/* MAP DROPDOWN CONTAINER */
.map-dropdown-container {
    position: relative;
}

.map-content-body {
}

.map-content {
    animation-name: fade-out-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

.map-content-hidden {
    display: none;
}

/* .slider-title {
    display: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* .info1 {
}

.info2 {
    background-color: rgba(22, 22, 26, 0);
}

.info-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('../images/img1.webp');

    background-position: center;
    background-size: cover;
} */

/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;

    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 40px);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--bs-primary);
}

.swiper-pagination-bullet-active {
    background-color: var(--bs-primary);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
iframe {
    transition: opacity 500ms ease-in-out;
    transition-delay: 250ms;
}

.slide1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('../images/img4.webp');
}
.slide2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('../images/img4.webp');
} */ ;
