/* GLOBAL */
html,
body {
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  height: 100%;
}

main {
  overflow-x: hidden;
}
a {
  color: var(--bs-blue);
}

h2 {
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .hidden-on-mobile {
    display: none;
  }
}
@keyframes fade-out-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.font-shadow {
  text-shadow: 0.4px 0.4px 0.4px var(--bs-secondary);
}

/* VIDEO */
#video-container {
  position: relative;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#video-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

#video-info-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 992px;
  margin: auto;
}
#video-info-container h1 {
  font-weight: 950;
  text-shadow: 1px 1px 1px var(--bs-dark);
}
@media screen and (min-width: 576px) {
  #video-info-container h1 {
    font-size: 68px;
    font-weight: 900;
  }
}

#video-info-container p {
  text-shadow: 1px 1px 1px var(--bs-dark);
}
/* OFFER */

#offer {
  font-size: 17px;
}

/* INFORMATION AND STATISTICS */
#fixed-photo-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('../images/Kurdzhali.webp');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* INFORMATION */
#information {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#information-container {
  height: 400px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #information-container {
    height: auto;
  }
}

#information-text-container p {
  mix-blend-mode: lighten;
  font-size: 50px;
  font-weight: 950;
  color: rgb(0, 0, 0);
  background-color: rgba(248, 247, 255, 0.88);
}

@media screen and (max-width: 576px) {
  #information-text-container p {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  #information-text-container p {
    font-size: 40px;
  }
}

/* INFORMATION & STATISTICS */
#information-text-container-2,
#statistics-text-container-2 {
  transition: all 0.4s ease-in-out;
}
#information-text-container-2:hover,
#statistics-text-container-2:hover {
  background: rgba(0, 0, 0, 0.55);
  transition: all 0.4s ease-in-out;
}

/* STATISTICS */
#statistics {
  overflow: hidden;
}

#statistics-container {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  min-height: 400px;
}

#statistics-text-container p {
  mix-blend-mode: lighten;
  font-size: 45px;
  font-weight: 950;
  color: rgb(0, 0, 0);
  background-color: rgba(248, 247, 255, 0.88);
}

@media screen and (max-width: 576px) {
  #statistics-text-container p {
    font-size: 33px;
  }
}

.stats-half {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #statistics-container {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .stats-half {
    width: 100%;
  }
  .stats-half-small p {
    font-size: 18px;
  }
}

#statistics ul {
  list-style-type: none;
}

/* PRODUCTS */

#products {
  min-height: 400px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );

  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #products-container-desktop,
  #products-container-desktop-dropdown {
    display: none;
  }
}

.individual-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.card h5 {
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.35)
  );
}

.card-img-container {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.card img {
  transition: transform 0.5s ease-out;
  height: 100%;
  object-fit: cover;
}
.card:hover img {
  transform: scale(1.1);
}

/* Card Buttons */

.card-button {
  cursor: pointer;
}
.card.card-opened i:first-child {
  display: none;
}
.card i:nth-child(2) {
  display: none;
}
.card.card-opened i:nth-child(2) {
  display: inline;
}

@media screen and (max-width: 1200px) {
  .card {
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
  .card {
    max-width: 450px;
    height: 225px;
    margin: auto;
  }
  #products-container-mobile .accordion-collapse {
    max-width: 550px;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .card {
    height: 140px;
    width: 100%;
    max-width: 400px;
  }
}

.card-content-body {
  animation-name: fade-out-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.card-content-body.card-content-hidden {
  display: none;
}

.card.card-opened .card-body,
#products-container-mobile .card:not(.collapsed) .card-body {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.7)
  );
}

.card.card-opened img,
#products-container-mobile .card:not(.collapsed) img {
  transform: scale(1.1);
}

.product-desktop-collapse {
  width: 90%;
  max-width: 856px;
}
.product-desktop-collapse img {
  width: 33%;
  min-width: 300px;
  max-width: 400px;
}

/* PRODUCTS MOBILE */

#products-container-mobile .accordion-item {
  border: none;
}
@media screen and (min-width: 768.99px) {
  #products-container-mobile {
    display: none;
  }
}

#products-container-mobile .card:not(.collapsed) i:first-child {
  display: none;
}

#products-container-mobile .card:not(.collapsed) i:nth-child(2) {
  display: inline;
}

#products-container-mobile .card:hover img {
  transform: scale(1);
}

/* FAQs */
#FAQ {
  background-image: linear-gradient(
      to bottom,
      rgba(248, 249, 250, 0),
      rgba(248, 249, 250, 0)
    ),
    url('../images/QandA.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light-2 {
  background-color: rgba(240, 239, 247, 0);
}

#FAQAccordionFlush {
  max-width: 856px;
  width: 90%;
  background-color: rgba(248, 249, 250, 0.94);
  transition: all 0.3s ease-in;
}
#FAQAccordionFlush:hover {
  background-color: rgba(248, 249, 250, 1);
}

/* CONTACT & MAP */

#contact {
  background: linear-gradient(to left, #fff 50%, #fff 50%);
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  #contact {
    padding-bottom: 0px !important;
    background: linear-gradient(to top, #fff 25%, #fff 25%);
  }
}

/* Contact */
#contact-container {
  z-index: 100;
}

/* Map */
.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.map-container > div {
  transform: scale(1.4);
  position: relative;
  --bs-aspect-ratio: 62%;
}

.map {
  transition: all 0.5s ease;
}
.map-whole {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url('../images/bg-border.webp');

  background-position: center;
  background-size: cover;
}
.map-part1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url('../images/sofia-border.webp');

  background-position: center;
  background-size: cover;
  opacity: 0;
}
.map-part2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url('../images/kurdzhali-border.webp');

  background-position: center;
  background-size: cover;
  opacity: 0;
  transform: translateY(-2px);
}

.map-part1.highlighted,
.map-part2.highlighted {
  opacity: 0.75;
}

.map-part1.clicked,
.map-part2.clicked {
  opacity: 1;
}

/* Map Pins */
.map-pin {
  position: absolute;
  position: absolute;
  /* background-color: red; */
  width: 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.map-pin1 {
  top: 43%;
  left: 27%;
}

.map-pin2 {
  top: 61%;
  left: 43%;
}

.map-pin.fill i {
  opacity: 0;
  transition: all 0.4s ease;
}
.map-pin.fill:hover i,
.map-pin.highlighted i,
.map-pin.clicked i {
  opacity: 1;
}

.map-pin:hover .map {
  opacity: 1;
}

/* MAP DROPDOWN CONTAINER */
.map-dropdown-container {
  position: relative;
}

.map-content {
  animation-name: fade-out-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.map-content-hidden {
  display: none;
}

#map-dropdown > div {
  max-width: 856px;
  width: 90%;
}

.map-dropdown-container img {
  width: 33%;
  min-width: 300px;
  max-width: 400px;
}
