header .lang-select li {
    cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: var(--bs-primary);
}

@media screen and (min-width: 769px) {
    header .lang-select button span:nth-child(2) {
        display: none;
    }
}
