

<!-- Footer -->
<footer class="p-5 pt-3 bg-dark text-white text-center position-relative ">
    <div class="container">
           <hr class="bg-primary" >
        <ul class="nav fs-6 justify-content-center">
            <li class="nav-item">
                <a href="#" class="nav-link active text-light" data-key="navigation-home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-light" data-key="navigation-products">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-light" data-key="navigation-customer-support">Customer Support</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-light" data-key="navigation-quarry-site">Quarry Site</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-light" data-key="navigation-contact">Contact</a>
            </li>
           
         <div class="btn-group lang-select text-warning">
                        <button
                            aria-label="select language"
                            type="button"
                            class="btn btn-dark dropdown-toggle lang-select-button "
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Language
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark lang-select-ul">
                            <li class="dropdown-item" data-lang="en">
                                <span class="flag-icon flag-icon-gb"></span><span> English</span>
                            </li>
                            <li class="dropdown-item" data-lang="bg">
                                <span class="flag-icon flag-icon-bg"></span><span> Български</span>
                            </li>
                        </ul>
                    </div>
                 

        <a href="#" class="position-absolute bottom-0 end-0 p-4" >
            <i class="bi bi-arrow-up-square h2 text-primary"></i>
        </a>
    </div>
</footer>
