footer .lang-select li {
    cursor: pointer;
}
footer hr {
    padding: 1px;
    border-radius: 2px;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    footer .lang-select button span:nth-child(2) {
        display: none;
    }
    footer hr {
        opacity: 0;
    }
}
